   SUBROUTINE {{type | write_function_name }}(xp, obj)
     !-----------------------------------------------------------------
     IMPLICIT NONE
     TYPE (xmlf_t),INTENT(INOUT)                      :: xp
     TYPE({{type | fortran_type_name }}),INTENT(IN)    :: obj
     ! 
     INTEGER                                          :: i 
     ! 
     IF ( .NOT. obj%lwrite ) RETURN 
     ! 
     CALL xml_NewElement(xp, TRIM(obj%tagname)) 
{%- include "write/write_attributes.f90.jinja" %}
{%- if  type.is_extension() %}
{%- include "write/write_extension.f90.jinja" %}
{%- endif %} 
{%- include "write/write_sequence.f90.jinja" %}
     CALL xml_EndElement(xp, TRIM(obj%tagname))
   END SUBROUTINE {{type | write_function_name }}

