{#- Compose subroutines for matrixType and integerMatrixType #}
{%- for suffix in ['_1', '_2', '_3'] %}
  !
  SUBROUTINE qes_init_{{ type|type_name(suffix) }}(obj, tagname, dims, mat, order)
    !
    IMPLICIT NONE
    !
    TYPE({{ type|type_name('_type') }}), INTENT(OUT) :: obj
    CHARACTER(LEN=*), INTENT(IN) :: tagname
    INTEGER,DIMENSION(:),INTENT(IN) :: dims
{%- if suffix == '_1' %}
    {{ type|fortran_type|replace('ALLOCATABLE','')|replace('DIMENSION(:), ','') }}INTENT(IN) :: mat(:)
{%-elif suffix == '_2' %}
    {{ type|fortran_type|replace('ALLOCATABLE','')|replace('DIMENSION(:), ','') }}INTENT(IN) :: mat(:,:)
{%-elif suffix == '_3' %}
    {{ type|fortran_type|replace('ALLOCATABLE','')|replace('DIMENSION(:), ','') }}INTENT(IN) :: mat(:,:,:)
{%- endif %}
    CHARACTER(LEN=*),OPTIONAL :: order
    INTEGER :: rank, length, i
    !
    obj%tagname = TRIM(tagname)
    obj%lwrite = .TRUE.
    obj%lread = .TRUE.
    length = 1
    rank = SIZE(dims)
    DO i = 1, rank
      length = length * dims(i)
    END DO
    obj%rank = rank
    ALLOCATE(obj%{{ type|type_name }}(length), obj%dims(rank) )
{%- if suffix == '_1' %}
    obj%{{ type|type_name }}(1:length) = mat(1:length)
{%- else %}
    obj%{{ type|type_name }}(1:length) = reshape(mat, [length])
{%- endif %}
    obj%dims = dims
    IF (PRESENT(order)) THEN
      obj%order = TRIM(order)
    ELSE
      obj%order = 'F'
    END IF
    !
  END SUBROUTINE qes_init_{{ type|type_name(suffix) }}
  !
{%- endfor %}