  !
  SUBROUTINE qes_init_{{ type|type_name }}({{ type|init_argument_line|replace("rank, dims, ","") }})
    !
    IMPLICIT NONE
    !
    TYPE({{ type|type_name('_type') }}), INTENT(OUT) :: obj
    CHARACTER(LEN=*), INTENT(IN) :: tagname
{%- for attribute in type.attributes.values() %}
  {%- if attribute.local_name not in ["rank","dims"] %}
    {%- if attribute.is_required() %}
    {{ attribute.type|init_fortran_type }}, INTENT(IN) :: {{ attribute|name }}
    {%- else %}
    {{ attribute.type|init_fortran_type }}, OPTIONAL, INTENT(IN) :: {{ attribute|name }}
    {%- endif %}
  {%- endif %}
{%- endfor %}
{%- if type.is_extension() %}
    {{ type.base_type|init_fortran_type|replace(":",":,:") }}, INTENT(IN) :: {{ type|type_name }}
{%- endif %}
    INTEGER :: length, i
    !
    obj%tagname = TRIM(tagname)
    obj%lwrite = .TRUE.
    obj%lread = .TRUE.
{%- for attribute in type.attributes.values() %}
  {%- if attribute.local_name not in ["rank","dims"] %}
    {%- if attribute.is_required() %}
    obj%{{ attribute|name }} = {{ attribute|name }}
    {%- else %}
    IF (PRESENT({{ attribute|name }})) THEN
      obj%{{ attribute|name }}_ispresent = .TRUE.
      obj%{{ attribute|name }} = {{ attribute|name }}
    ELSE 
      obj%{{ attribute|name }}_ispresent = .FALSE.
    END IF
    {%- endif %}
  {%- endif %}
{%- endfor %}
    !
    length = 1
    obj%rank = SIZE(shape({{ type|type_name }}))
    ALLOCATE ( obj%dims(obj%rank))
    obj%dims = shape({{ type|type_name }})
    DO i = 1, obj%rank
      length = length * obj%dims(i)
    END DO
    ALLOCATE(obj%{{ type|type_name }}(length))
    obj%{{ type|type_name }}(1:length) = reshape({{ type|type_name }}, [length])
    !
  END SUBROUTINE qes_init_{{ type|type_name }}
  !